body {
  margin: 0px;
}

:root {
  --cell-size: 100px;
  --mark-size: calc(var(--cell-size) * 0.9);
}

.board {
  width: 100vw;
  height: 100vh;
  background-color: rgb(183, 202, 209);
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(3, auto);
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  background-color: rgb(172, 172, 96);
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cell:nth-child(-n + 3) {
  border-top: none;
}

.cell:nth-child(3n + 1) {
  border-left: none;
}

.cell:nth-child(3n + 3) {
  border-right: none;
}

.cell:nth-last-child(-n+3) {
  border-bottom: none;
}

.cell.x::before,
.cell.x::after {
  content: '';
  width: calc(var(--mark-size) * 0.15);
  height: var(--mark-size);
  background-color: black;
  position: absolute;
}

.cell.x::before {
  transform: rotate(45deg);
}

.cell.x::after {
  transform: rotate(-45deg);
}

.cell.circle::before,
.cell.circle::after {
  content: '';
  position: absolute;
  width: var(--mark-size);
  height: var(--mark-size);
  border-radius: 50%;
  background-color: black;
}

.cell.circle::before {
  width: var(--mark-size);
  height: var(--mark-size);
  background-color: black;
}

.cell.circle::after {
  width: calc(var(--mark-size)*0.7);
  height: calc(var(--mark-size)*0.7);
  background-color: rgb(172, 172, 96);
}
